<div class="left">

    <form action="/createfolder/" method="get">
        <input type="text" name="call" required>
        <input type="submit" value="create folder">
    </form>
    <form action="/createfile/" method="get">
        <input type="text" name="call" required>
        <input type="submit" value="create file">
    </form>
    <form enctype="multipart/form-data" action="/upload" method="post">
        <input type="file" multiple required name="upload">
        <input type="submit">
    </form>
</div>
<div class="right">
    <div class="folders">
        <h3>FOLERY</h3>
        {{#each folders}}
            <div class="folder">
                <div class="delete">x</div>
                {{name}}
            </div>
        {{/each}}
    </div>
    <div class="files">
        <h3>PLIKI</h3>
        {{#each files}}
            <div class="file">
                <div class="delete">x</div>
                {{name}}
            </div>
        {{/each}}
    </div>
</div>