<div class="left">
    <form action="/createfolder" method="post">
        <input type="text" name="call" required>
        <input type="submit" value="create folder">
    </form>
    <form action="/createfile" method="post">
        <input type="text" name="call" required>
        <input type="submit" value="create file">
    </form>
    <form enctype="multipart/form-data" action="/uploadfile" method="post">
        <input type="file" name="upload" multiple required >
        <input type="submit">
    </form>
</div>

<div class="right">
    <h3>FOLERY</h3>
    <div class="folders">
        {{#each folders}}
            <div class="folder">
                <span>[{{name}}]</span>
                <div class="delete">&cross;</div>
            </div>
        {{/each}}
    </div>
    <h3>PLIKI</h3>
    <div class="files">
        {{#each files}}
            <div class="file">
                <span>[{{name}}]</span>
                <div class="delete">&cross;</div>
            </div>
        {{/each}}
    </div>
</div>