body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #cceeee;
    color: #474747;
    height: 60vh;
    box-sizing: border-box;
}

button{
    width: 40px;
    height: 15px;
    padding: 5px;
    line-height: 25px;
}

.left, .right{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#folders, #files{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    border-radius: 15px 0 0 0;
    padding: 10px;
    min-height: 70px;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    min-width: 200px;
    animation-duration: 0.5s;
}

.folder, .file{
    display: flex;
    flex-direction: row;
    min-width: 80px;
    text-wrap: wrap;
    overflow-wrap: anywhere;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: default;
    position: relative;
    justify-content: space-between;
    border-color: rgba(0, 0, 0, 0.6);
    border-style: solid;
    cursor: pointer;
}

.folder{
    background-color: #cfffb8;
    border-width: 0 4px 4px 0; 
}

.folder:hover{
    background-color: #9aff76;
}

.file{
    background-color: #99ffe8;
    border-width: 0 4px 0 0; 
}

.file:hover{
    background-color: #74ffe7;
}

.delete{
    cursor: pointer;
    width: min-content;
}

h3{
    text-align: center;
}

.file span, .folder span{
    align-self: flex-end;
    height: fit-content;
    display: block;
    max-width: 150px;
    overflow: hidden;
    padding-top: 15px;
    padding-right: 5px;
    border-width: 0 5px 0 0;
}

#upload-file{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#upload-file *{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    width: 80%;
    margin: 5px;
    font-size: 25px;
    border-radius: 5px;
    color: #474747;
    padding: 5px;
    display: block;
    border: none;
    cursor: pointer;
}

#upload-file *:hover{
    background-color: #d5d5d5;
    color: #808080;
}

#upload-file input{
    display: none;
}

#context-holder{
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
}

.context{
    width: fit-content;
    color: #dddd33;
}

.context-arrow{
    color: #dddd33;
}

.context a{
    color: white;
}