body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    width: 40px;
    height: 15px;
    padding: 5px;
    line-height: 25px;
    color: seagreen;
}

.left, .right{
    width: 30%;
}

.folders, .files{
    background-color: white;
}